In [30]:
import pandas as pd
import numpy as np

In [113]:

import dask.dataframe as dd

data_path = '../data'
receipts = 'Junction_Data.csv'
receipts_sample = 'Junction_SampleData.csv'

# Dtypes https://docs.scipy.org/doc/numpy-1.15.0/user/basics.types.html
%time df = dd.read_csv(data_path + '/' + receipts, sep=';', \
                       dtype={'Receipt': str, 'EAN': str,'KCustomer': 'int16'})

Wall time: 133 ms

In [92]:
KCustomer = df.loc[:,['EAN', 'KCustomer']]

In [187]:
%time df2 = pd.read_csv(data_path + '/' + receipts_sample, sep=';' )
%time dfs = dd.read_csv(data_path + '/' + receipts_sample, sep=';',  \
                       dtype={'Receipt': str, 'EAN': str,'KCustomer': str})
dfs = dfs.categorize("KCustomer")

Wall time: 17 ms
Wall time: 19 ms

In [13]:
df.head()

,Receipt,TransactionDate,BeginHour,EAN,Quantity,PersonAgeGrp,KCustomer,QualClass,EasyClass
0,314323843279212,2017-04-01,7,6420256014004,"1,000000",45-54,6711,Q_4-7,E_4-7
1,314323843279212,2017-04-01,7,6410405111340,"5,000000",45-54,6711,Q_4-7,E_4-7
2,314323843279212,2017-04-01,7,2000818700008,"1,073000",45-54,6711,Q_4-7,E_4-7
3,314323911727415,2017-04-01,15,6411200103295,"1,000000",65-,6715,Q_8-10,E_4-7
4,314323911727415,2017-04-01,15,6411402105806,"1,000000",65-,6715,Q_8-10,E_4-7

In [54]:
df.columns

Index(['Receipt', 'TransactionDate', 'BeginHour', 'EAN', 'Quantity',
       'PersonAgeGrp', 'KCustomer', 'QualClass', 'EasyClass'],
      dtype='object')

In [53]:
uniques = df.EAN.unique().compute()

In [57]:
print("Datassa on " + str(len(uniques)) + " eri tuotetta")

Datassa on 107136 eri tuotetta

In [62]:
df_t = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                          "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                          "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})

In [69]:
pd.pivot_table(df_t, values='D', index=['A'], columns=[], aggfunc=len)

     D
A
bar  4
foo  5

In [128]:

# https://stackoverflow.com/questions/42636152/after-using-dask-pivot-table-i-lose-the-index-column
KCustomer = KCustomer.categorize("KCustomer")
customer_pivot = KCustomer.pivot_table(values='EAN', index='KCustomer', columns='KCustomer', aggfunc='count').compute()
customer_pivot

KCustomer     6713.0     6715.0     6711.0      6712.0     6714.0
KCustomer
6713.0     7050872.0        0.0        0.0         0.0        0.0
6715.0           0.0  4111243.0        0.0         0.0        0.0
6711.0           0.0        0.0  9414712.0         0.0        0.0
6712.0           0.0        0.0        0.0  20675378.0        0.0
6714.0           0.0        0.0        0.0         0.0  3514830.0

In [112]:
n_receipts = KCustomer.shape[0].compute()
print("Datassa contains " + str(n_receipts) + " row")

Datassa contains 44767036 row

In [130]:
ean_pivot.shape

(107135, 0)

In [146]:
KCustomer2 = KCustomer.loc[1:200,:]

In [147]:
KCustomer2.shape[0].compute()

11200

In [ ]:
uniq

In [178]:
dfs.groupby('KCustomer')['KCustomer'].aggregate(len)

KCustomer
6711    2068
6712    2132
6713    2111
6714    1612
6715    2077
Name: KCustomer, dtype: int64

In [179]:
dfs.groupby('KCustomer').KCustomer.count()

KCustomer
6711    2068
6712    2132
6713    2111
6714    1612
6715    2077
Name: KCustomer, dtype: int64

In [190]:
dfs.head()

,Receipt,TransactionDate,BeginHour,EAN,Quantity,PersonAgeGrp,KCustomer,QualClass,EasyClass
0,314323843279212,2017-04-01,7,6420256014004,"1,000000",45-54,6711,Q_4-7,E_4-7
1,314323843279212,2017-04-01,7,6410405111340,"5,000000",45-54,6711,Q_4-7,E_4-7
2,314323843279212,2017-04-01,7,2000818700008,"1,073000",45-54,6711,Q_4-7,E_4-7
3,314323911727415,2017-04-01,15,6411200103295,"1,000000",65-,6715,Q_8-10,E_4-7
4,314323911727415,2017-04-01,15,6411402105806,"1,000000",65-,6715,Q_8-10,E_4-7

In [192]:
ean_pivot3 = KCustomer.pivot_table(index='EAN', values='KCustomer', columns='KCustomer', aggfunc='count').compute()
ean_pivot3
#customer_pivot = KCustomer.pivot_table(values='EAN', index='KCustomer', columns='KCustomer', aggfunc='count').compute()

Empty DataFrame
Columns: []
Index: [17.0, 24.0, 31.0, 48.0, 55.0, 62.0, 79.0, 86.0, 93.0, 109.0, 116.0, 123.0, 130.0, 147.0, 154.0, 161.0, 178.0, 185.0, 192.0, 208.0, 215.0, 222.0, 239.0, 246.0, 253.0, 260.0, 277.0, 284.0, 291.0, 307.0, 314.0, 321.0, 338.0, 345.0, 352.0, 369.0, 376.0, 383.0, 390.0, 406.0, 413.0, 420.0, 437.0, 444.0, 451.0, 468.0, 475.0, 482.0, 499.0, 505.0, 512.0, 529.0, 536.0, 543.0, 550.0, 567.0, 574.0, 581.0, 598.0, 604.0, 611.0, 628.0, 642.0, 659.0, 666.0, 673.0, 680.0, 697.0, 703.0, 710.0, 727.0, 734.0, 741.0, 758.0, 765.0, 772.0, 789.0, 796.0, 802.0, 819.0, 826.0, 833.0, 840.0, 857.0, 864.0, 871.0, 888.0, 895.0, 901.0, 918.0, 925.0, 932.0, 949.0, 956.0, 963.0, 970.0, 987.0, 994.0, 1007.0, 1014.0, ...]

[107135 rows x 0 columns]

In [115]:
help(dd.pivot_table)

Help on function pivot_table in module dask.dataframe.reshape:

pivot_table(df, index=None, columns=None, values=None, aggfunc='mean')
    Create a spreadsheet-style pivot table as a DataFrame. Target ``columns``
    must have category dtype to infer result's ``columns``.
    ``index``, ``columns``, ``values`` and ``aggfunc`` must be all scalar.

    Parameters
    ----------
    data : DataFrame
    values : scalar
        column to aggregate
    index : scalar
        column to be index
    columns : scalar
        column to be columns
    aggfunc : {'mean', 'sum', 'count'}, default 'mean'

    Returns
    -------
    table : DataFrame

In [ ]:
popularity_pivot = KCustomer.pivo

In [77]:
pd.pivot_table(df2, values='EAN', index='KCustomer', aggfunc=len)

            EAN
KCustomer
6711       2068
6712       2132
6713       2111
6714       1612
6715       2077

In [19]:
df.describe().compute()

C:\Users\mattisi\Anaconda3\lib\site-packages\dask\dataframe\core.py:3684: RuntimeWarning: invalid value encountered in sqrt
  df = func(*args, **kwargs)

            Receipt     BeginHour           EAN    KCustomer
count  1.000000e+04  10000.000000  1.000000e+04  10000.00000
mean   3.143385e+14     14.816000  5.690275e+12   6712.94980
std             NaN      3.282837           NaN      1.42481
min    3.143238e+14      5.000000  1.700000e+01   6711.00000
25%    3.143315e+14     12.000000  6.407868e+12   6712.00000
50%    3.143387e+14     15.000000  6.410405e+12   6713.00000
75%    3.143457e+14     17.000000  6.415350e+12   6714.00000
max    3.143522e+14     22.000000  9.789523e+12   6715.00000